{
  "root": true,
  "extends": [
    "plugin:@wordpress/eslint-plugin/recommended"
  ],
  "settings": {
    "jsdoc": {
      "mode": "typescript"
    }
  },
  "overrides": [
    {
      "files": [ "*" ],
			"extends": [ "plugin:@wordpress/eslint-plugin/test-unit" ]
		}
  ]
}
